.aboutme {
  &__h2 {
    padding: 50px 0;
  }

  &__content {
    padding-left: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      padding-left: 10px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__img1 {
      min-width: 200px;
      align-self: center;
      padding-bottom: 20px;

      @media screen and (min-width: 1024px) {
        width: 489px;
        padding-bottom: 0;
        z-index: -1;
      }
    }
  }
}
.aboutme__container {
  position: relative;

  @media screen and (min-width: 500px) {
    width: 80%;
  }
  @media screen and (min-width: 1024px) {
    margin-left: -31px;
    margin-top: 78px;
    position: relative;
  }
}

.aboutme__img2 {
  width: 15%;
  position: absolute;
  right: 17px;
  top: -18px;
  z-index: 2;
  @media screen and (min-width: 400px) {
    top: -26px;
  }
  @media screen and (min-width: 600px) {
    top: -34px;
  }
  @media screen and (min-width: 700px) {
    width: 10%;
    top: -25px;
  }
  @media screen and (min-width: 900px) {
    top: -30px;
  }
  @media screen and (min-width: 1024px) {
    top: -30px;
    right: 110px;
  }
  @media screen and (min-width: 1048px) {
    right: 125px;
  }
  @media screen and (min-width: 1070px) {
    right: 145px;
  }
  @media screen and (min-width: 1100px) {
    right: 180px;
  }
  @media screen and (min-width: 1223px) {
    right: 167px;
    top: -38px;
  }
}

.aboutme__text1 {
  min-width: 80%;
  padding: 26px;
  z-index: 1;
  background-color: #f0f1f6;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 400px) {
    padding: 46px 26px;
  }
  @media screen and (min-width: 1024px) {
    width: 550px;
    z-index: 1;
  }
  @media screen and (min-width: 1223px) {
    width: 728px;
  }
}

.aboutme__p1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-indent: 0px;
  text-align: justify;
  color: #6e7d7a;
  padding-bottom: 10px;

  @media screen and (min-width: 1024px) {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-indent: 0px;
    text-align: justify;
    padding-bottom: 10px;
  }
}

.aboutme__text2 {
  padding-top: 25px;
  padding-left: 33px;

  @media screen and (min-width: 500px) {
    padding-top: 25px;
    padding-left: 75px;
  }
}

.aboutme__h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  color: #6e7d7a;

  @media screen and (min-width: 1024px) {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
  }
}

.aboutme__p2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6e7d7a;

  @media screen and (min-width: 1024px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
