.hero {
  background: #f0f1f6;
  padding-top: 80px;

  &__cont {
    background-image: url(../assets/images/hero-img-5.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
      "des img"
      "pro img";
  }
  &__description {
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    text-transform: uppercase;
    color: #0e6c67;
    grid-area: des;
    span {
      color: #24312d;
    }
  }
  &__pros {
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: pro;
  }
  &__pros__item {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 20px;
  }
  &__image {
    grid-area: img;
    position: relative;
  }
  &__img-main {
    width: 90%;
  }
  &__image::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-image: linear-gradient(
      180deg,
      rgba(245, 245, 245, 0) 64%,
      #f0f1f6 100%
    );
  }
}
