.prices {
    height: 450px;

    &__background {
        background-color: #F0F1F6;
        height: 100%;
        position: relative;
    }

    &__pattern {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 50%;
}

    &__body {
        max-width: 700px;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10%;
        padding-top: 5%;
}
    &__title{
        text-transform: uppercase;
        text-align: center;

        font-family: "Open Sans", sans-serif;
        src: url(../assets/fonts/open-sans-v34-latin-regular.woff2);
        font-style: normal;
        font-weight: 700;

    }
    &__text{
        font-family: "Open Sans", sans-serif;
        src: url(../assets/fonts/open-sans-v34-latin-regular.woff2);
        font-style: normal;
        font-weight: 400;
        font-size: 22px;

    }


    &__picture {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 50%;
}
}