.services {
  &__h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 80px 0;
  }
  &__item-all {
    display: flex;
    justify-content: space-around;

    &__item {
      flex-direction: column;
    }
  }
}

.services__content {
  padding-bottom: 150px;
}

.services__item:nth-child(1) {
  width: 328px;
}
.services__item:nth-child(2) {
  width: 289px;
}
.services__item:nth-child(3) {
  width: 289px;
}
img:not(:last-child) {
  padding-bottom: 39px;
}
img:last-child {
  padding-bottom: 21px;
}

.services__wrap {
  text-align: center;

  .services__a {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #0e6c67;
  }
  .services__a:hover {
    color: #0fa7a0;
  }
}
