.services {
  &__h2 {
    padding: 50px 0;
  }

  &__item-all {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 20px;

    @media screen and (min-width: 767px) {
    }
    @media screen and (min-width: 1223px) {
      display: flex;
      justify-content: center;
      flex-direction: row;
      column-gap: 45px;
      padding-bottom: 50px;
      padding-left: 10px;
    }
  }
}

.services__item {
  width: 289px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 15px;

  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 1223px) {
    width: 289px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.services__item:nth-child(3) {
  @media screen and (min-width: 300px) {
    align-items: center;
  }
}

.services__img {
  min-width: 60px;
  padding-bottom: 21px;

  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 1223px) {
  }
}

.services__wrap {
  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 1223px) {
    text-align: center;
  }

  .services__a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    color: #0e6c67;

    @media screen and (min-width: 767px) {
    }
    @media screen and (min-width: 1223px) {
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
    }
  }
  .services__a:hover {
    color: #0fa7a0;
  }
}
