.service-3 {
  background-color: #f0f1f6;
  &__title {
    text-align: center;
    padding: 20px 100px 0;
  }
  &__part1 {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  &__part1-desc {
    position: relative;
    left: -50px;
    max-width: 833px;
    padding: 80px 30px;
    background-color: #ffffff;
    border: 3px solid #0e6c67;
  }
  &__part1-item {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
  }
  &__part1-item:last-child {
    padding-bottom: 0;
  }
  &__part2 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 50px;
  }
  &__resume {
    padding: 50px 100px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #0e6c67;
  }
}
.desc-left {
  max-width: 680px;
  padding: 50px 30px 25px;
  background-color: #ffffff;
  border: 3px solid #0e6c67;
  &__tit {
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  &__item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }
  &__text {
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 1.6;
  }
}
.desc-right {
  max-width: 520px;
  padding: 55px 20px;
  background-color: #ffffff;
  border: 3px solid #0e6c67;
  &__tit {
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 1.2;
  }
  &__item {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  &__text {
    padding: 10px 0 0;
    font-size: 20px;
  }
}
