.why-us {
    &__background {
        background-color: #F0F1F6;
    }

    &__quote {
        height: 450px;
        display: grid;
        grid-template-columns: 13% 1fr 13%;
        grid-template-areas: "why-us__mark-1 why-us__text-0 why-us__mark-2";
    }

    &__mark-1 {
        justify-self: center;
        padding-top: 50px;
    }

    &__text-0 {
        align-self: center;
        line-height: 1.8;
    }

    &__mark-2 {
        justify-self: center;
        align-self: flex-end;
        padding-bottom: 50px;
    }

    &__title {
        padding: 50px 0 0 0;
    }

    &__grid {
        padding: 50px 15px;
        justify-content: center;
        display: grid;
        grid-auto-flow: column;

        grid-template-rows: auto auto auto auto auto auto auto;
        gap: 25px;

        @media screen and (min-width: 768px){
            font-size: 18px;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            gap: 35px;
            font-size: 22px;
        }
    }

    &__li {
        display: flex;
        gap: 20px;
    }

    &__icon {
        max-height: 60px;
    }

}